/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Сообщение приветствия */
.welcome-message {
    font-size: 1.5em;
    font-weight: bold;
}

/* Навигация */
nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
}

/* Основная область */
main {
    padding: 20px;
}


section {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


section h2 {
    color: #35424a;
    text-align: center;
}

/* Подвал */
footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}


.form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    align-items: center;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #35424a;
}

.form-container p {
    text-align: center;
    margin-top: 15px;
}

/* Форма */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}


form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #35424a;
}


form input, form textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: border-color 0.3s;
}

form input:focus, form textarea:focus {
    border-color: #35424a;
}


form button {
    padding: 12px;
    background: #35424a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

form button:hover {
    background: #456c82;
    transform: translateY(-2px);
}

.form-container a {
    color: #35424a;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.form-container a:hover {
    color: #ffd700;
}

.error-message {
    color: red;
    margin-top: 15px;
    text-align: center;
}
